<a href="https://colab.research.google.com/github/leaf7823/hosripo/blob/master/%E5%95%8F2_4_(%E3%83%AA%E3%82%B9%E3%83%88%E5%86%85%E5%8C%85%E8%A1%A8%E8%A8%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# リスト内包表記はリストを生成するための簡潔な手段です。例えば、平方数のリスト [0, 1, 4, 9, 16, ...] を構成したいとき
squares = []
#for x in range(10):
#   print(squares)
#   print(x)
#   squares.append(x ** 2)

squares = [x ** 2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
# リスト内包表記で in の後に続く iterable オブジェクトは range である必要はなく、例えばリストを指定
a = [4, 8, 3, 4, 1]
squares = [x ** 2 for x in a]
print(squares)  # => [16, 64, 9, 16, 1]

[16, 64, 9, 16, 1]

In [0]:
#a=[4, 8, 3, 4, 1] というリストに対し、要素が偶数なら 0, 奇数なら 1 に変換するコード

a=[4, 8, 3, 4, 1] 

for i in range(5):
    print(i)
    if  a[i]%2 == 0:
        a[i] = 0
    else:
        a[i]=1
print(a)

0
1
2
3
4
[0, 0, 1, 0, 1]

In [0]:
#a=[4, 8, 3, 4, 1] というリストに対し、要素が偶数なら 0, 奇数なら 1 に変換する(リスト内包表記

a=[4, 8, 3, 4, 3] 

a = [0 if a[i] % 2 == 0  else 1 for i in range(5)]
print(a)

[0, 0, 1, 0, 1]

In [0]:
#a=[4, 8, 3, 4, 1] というリストに対し、要素が偶数なら 0, 奇数なら 1 に変換する(リスト内包表記

a=[4, 8, 3, 4, 3] 

a = [0 if a[i] % 2 == 0  else 1 for i in range(5)]
print(a.count(0))

3

In [0]:
#a=[4, 8, 3, 4, 1] というリストに対し、要素が偶数なら 0, 奇数なら 1 に変換する(リスト内包表記

a=[4, 8, 3, 4, 3] 

a = [a[i] for i in range(5) if a[i] % 2 != 0]
print(a)

[3, 3]